.cabecalho-epi {
    border: solid 1px #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1vw;
}

.cabecalho-epi span {
    margin-left: 2vw;
}

.cabecalho-epi img {
    width: 10vw;
}

.folha-epi {
    padding: 1vw;
    background: linear-gradient(to bottom, #5b707f 20%, white 0%);
    width: -webkit-fill-available;
}

.folha-epi table {
    width: 100%;
    border-collapse: collapse;
    color: #222;
    margin-bottom: 1vw;
}

.folha-epi td {
    font-size: 1.2vw;
    padding: 5px;
    background-color: white;
    border: solid 1px #222;
}

.folha-epi th {
    font-size: 1.2vw;
    background-color: #5b707f;
    color: white;
    border: solid 1px #222;
}