body,
html {
    background: linear-gradient(45deg, #249f41, #151749);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 4vw;
    color: black;
}

.nomeUsuario {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
}

.botoesMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 3px;
    margin-top: 20vw;
}

.login-container {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.overlay {
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

select {
    font-size: 3vw;
    padding: 5px;
    border-radius: 3px;
}

input {
    display: block;
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 5px;
    border: 1px solid #888;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #249f41;
}

.login-container {
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.janela {
    min-width: 90vw;
    overflow: auto;
    max-height: 90vh;
}

.janela_fora {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 90vw;
    text-align: center;
    font-size: 3vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.topo_popup {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3b444c;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
}

.botao_popup {
    background-color: #3b444c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    cursor: pointer;

}

.botao_popup img {
    width: 5vw;
}

.botao_popup label {
    cursor: pointer;
    color: white;
    font-size: 5vw;
}

.blocoTabela {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 5vw;
}

.recorteTabela {
    height: max-content;
    max-height: 70vh;
    max-width: 80vw;
    overflow: auto;
}

.tabela {
    min-width: max-content;
    width: 90vw;
    background-color: white;
    border-collapse: collapse;
}

.tabela thead input {
    width: 100%;
}

.tabela th {
    border: solid 1px #d2d2d2;
    color: #222;
    font-size: 5vw;
    padding: 8px;
}

.tabela td {
    text-align: center;
    padding: 2vw;
    font-size: 0.8vw;
    border: 1px solid #d2d2d2;
}

.tabela thead {
    box-shadow: 0 1px 0 #ccc;
    background-color: #d2d2d2;
}

.btnLateral {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #d2d2d2;
}

.btnLateral img {
    width: 10vw;
    margin-left: 10px
}

.menu-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}


/* Menu lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222222ec;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    z-index: 200;
}

.side-menu.active {
    left: 0;
}

.painelBotoes {
    border-bottom: 1px solid #666666;
    min-height: 4vh;
    display: flex;
    align-items: start;
    justify-content: start;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #b1b1b1;
    gap: 2px;
    width: 100%;
}

.rodapeTabela {
    border-top: 1px solid #666666;
    width: 100%;
    height: 2vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #b1b1b1;
}

.btnRodape {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 90%;
    border-radius: 3px;
    padding: 10px;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    z-index: 0;
}

.opcaoStatus {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

input[type="file"] {
    width: 70%;
}

.btnPadrao {
    width: 100%;
    font-size: 5vw;
    background-color: #249f41;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    color: white;
}

.aguarde {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10005;
}

.aguarde img {
    width: 35vw;
}

.mensagem {
    background-color: #d2d2d2;
    display: flex;
    gap: 10px;
    padding: 2vw;
    align-items: center;
    justify-content: center;
}

.mensagem img {
    width: 10vw;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding-left: 5vw;
    margin: 5vw;
}

.pesquisa img {
    width: 5vw;
}

.pesquisa input {
    border: none;
    background-color: transparent;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalhes img {
    width: 10vw;
}

.telaInterna {
    color: white;
    padding: 2vw 1vw;
    height: 80vh;
}

.camposCadastro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    background-color: #d2d2d2;
    padding: 5vw;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #222222ec;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.toolbar span {
    font-size: 5vw;
    color: white;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
}

/* Ajustes para modo horizontal (landscape) */
@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    body,
    html {
        flex-direction: row;
        align-items: flex-start;
        padding: 2vh 2vw;
    }

    input {
        padding: 0.8vw;
        margin: 0.8vw 0;
    }

    .btnLateral img {
        width: 3vw;
    }

    .login-container {
        flex-direction: row;
        gap: 2vw;
        max-width: 80vw;
        max-height: 80vh;
    }

    span {
        font-size: 1.2vw;
    }

    select {
        font-size: 1.8vw;
    }

    .janela {
        min-width: 70vw;
        max-height: 80vh;
    }

    .janela_fora {
        font-size: 2vw;
        max-width: 80vw;
    }

    .botao_popup label {
        font-size: 3vw;
    }

    .tabela th {
        font-size: 2vw;
    }

    .tabela td {
        font-size: 1vw;
    }

    .btnRodape {
        width: auto;
        position: fixed;
        right: 7vw;
        bottom: 7vh;
        font-size: 1.8vw;
    }

    .btnPadrao {
        font-size: 2.5vw;
    }

    .pesquisa {
        padding-left: 2vw;
        margin: 2vw;
    }

    .pesquisa img,
    .mensagem img,
    .linha img {
        width: 3vw;
    }

    .detalhes img {
        width: 3vw;
    }

    .botoesMenu {
        margin-top: 10vw;
    }

    .recorteTabela {
        max-height: 50vh;
        max-width: 90vw;
    }

    .aguarde img {
        width: 10vw;
    }

    .topo_popup span,
    .toolbar span {
        font-size: 1.8vw;
    }

    .camposCadastro {
        padding: 2vw;
    }


}