body,
html {
    background: linear-gradient(45deg, #151749, #249f41);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.foto {
    border-radius: 5px;
    width: 100%;
}

.cam {
    width: 7vw;
}

.cameraDiv {
    display: none;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2px
}

.fundoImagens {
    height: max-content;
    max-height: 70vh;
    overflow-y: auto;
    background-color: #d2d2d2;
    padding: 2vw;
}

.contornoAnexos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    height: max-content;
    padding: 5px;
    margin: 5px;
}

.contornoInterno {
    width: 100%;
    justify-content: start;
    gap: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    background-color: #99999940;
}

.contornoInterno img {
    width: 5vw
}

.contornoInterno label {
    font-size: 2vw;
}

span {
    font-size: 4vw;
    color: black;
}

.nomeUsuario {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
}

.telaOffline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.invalido {
    padding: 1vw;
    border: solid 1px red;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.Não_Ativo {
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px red;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.Finalizado {
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px green;
    border-radius: 5px;
    background-color: #ade9ad;
}

.Em_Andamento {
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px #ff9100;
    border-radius: 5px;
    background-color: #ffeacf;
}

.Por_Iniciar {
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px red;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.Ativo {
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px green;
    border-radius: 5px;
    background-color: #ade9ad;
}

.Baixa_Médica {
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px #0011ac;
    border-radius: 5px;
    background-color: #d2d7ff;
}

.Impedido {
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px #ff9100;
    border-radius: 5px;
    background-color: #ffeacf;
}

.mensagemTela {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    background-color: white;
    padding: 2vw;
    border-radius: 3px;
}

.dino {
    width: 30vw;
}

.botoes {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1vw;
    gap: 1vw;
}

.botoesMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1px;
    margin-top: 20vw;
}

.loginBloco {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.botaoSuperiorLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8b8b8;
    padding: 1vw;
    gap: 3vw;
}

.botaoSuperiorLogin img {
    width: 10vw;
}

.baixoLogin {
    gap: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1vw;
}

.cadeado {
    width: 15vw;
}

.overlay {
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.olho {
    width: 6vw;
}

select {
    font-size: 3vw;
    padding: 5px;
    border-radius: 3px;
}

input,
textarea {
    display: block;
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 5px;
    border: 1px solid #888;
}

textarea {
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    background-color: #249f41;
    border-radius: 3px;
    border: solid 1px #222;
    white-space: nowrap;
}

.janela {
    min-width: 90vw;
    overflow: auto;
    max-height: 80vh;
}

.janela_fora {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 90vw;
    text-align: center;
    font-size: 3vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.painelCadastro {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    padding: 10vw;
    background-color: #d2d2d2;
}

.painelCadastro table {
    border-collapse: collapse;
    width: 100%;
}

.painelCadastro td {
    background-color: white;
    border: solid 1px #676767;
    padding: 8px;
}

.painelCadastro th {
    background-color: #676767;
    color: white;
    padding: 8px;
}

.rodapeAlerta {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.rodapeAlerta img {
    width: 3vw;
}

.camposTd {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.camposTd img {
    width: 7vw;
}

.painelPin {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 10px
}

.epis {
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
    border-radius: 3px;
    padding: 1vw;
    border: solid 1px #222;
}

.epis img {
    width: 15vw;
}

.megaInput {
    width: 25px;
    height: 25px;
}

.toolbarPopup {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #d2d2d2;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(to left, #B12425 10%, #3b444c 0%);
    min-height: 35px;
}

.toolbarPopup span {
    color: white;
    font-size: 4vw;
}

.botaoPopup {
    background-color: #3b444c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}

.botaoPopup img {
    width: 5vw;
}

.botaoPopup label {
    cursor: pointer;
    color: white;
    font-size: 5vw;
}

.blocoTabela {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.recorteTabela {
    height: max-content;
    max-height: 70vh;
    max-width: 80vw;
    overflow: auto;
}

.tabela {
    min-width: max-content;
    width: 90vw;
    background-color: white;
    border-collapse: collapse;
}

.tabela thead input {
    width: 100%;
}

.tabela th {
    border: solid 1px #d2d2d2;
    color: #222;
    font-size: 5vw;
    padding: 8px;
}

.tabela td {
    text-align: center;
    padding: 3px;
    border: 1px solid #d2d2d2;
}

.tabela thead {
    box-shadow: 0 1px 0 #ccc;
    background-color: #d2d2d2;
}

.btnLateral {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #d2d2d2;
}

.btnLateral img {
    width: 10vw;
    margin-left: 10px
}

.menu-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}


/* Menu lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222222ec;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    z-index: 200;
}

.side-menu.active {
    left: 0;
}

.painelBotoes {
    position: relative;
    border-bottom: 1px solid #666666;
    min-height: 4vh;
    display: flex;
    align-items: start;
    justify-content: start;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #b1b1b1;
    gap: 2px;
    width: 100%;
}

.rodapeTabela {
    border-top: 1px solid #666666;
    width: 100%;
    height: 2vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #b1b1b1;
}

.btnRodape {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 90%;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    z-index: 0;
    gap: 2vw;
}

.opcaoStatus {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

input[type="file"] {
    width: 70%;
}

.btnPadrao {
    width: 100%;
    font-size: 5vw;
    background-color: #249f41;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    color: white;
}

.aguarde {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10005;
}

.aguarde img {
    width: 35vw;
}

.mensagem {
    background-color: #d2d2d2;
    display: flex;
    gap: 10px;
    padding: 2vw;
    align-items: center;
    justify-content: center;
}

.mensagem img {
    width: 10vw;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding-left: 5vw;
    margin: 5vw;
}

.pesquisa img {
    width: 5vw;
}

.pesquisa input {
    border: none;
    background-color: transparent;
}

.barra {
    width: 15vw;
    flex: 1;
    background: #eee;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.caixa {
    position: absolute;
    background-color: white;
    padding: 2vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 200;
}

.caixa span {
    font-size: 1.8vw;
}

.acompanhamento {
    border-radius: 3px;
    padding: 2vw;
    background-color: white;
    height: 80vh;
    color: #222;
    overflow-y: auto;
    padding-bottom: 50vh;
    box-shadow: 0px 0px 3px #222;
}

.edicao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.edicao img {
    width: 7vw;
}

.btnAcmp {
    border-radius: 5px;
    padding: 3px;
    background-color: #dbdbdb;
}

.alteracaoNomeObra {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.alteracaoNomeObra img {
    width: 4vw;
}

.aviso {
    background-color: #d2d2d2;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.bloco {
    border: solid 1px #c9c9c9;
    border-radius: 2px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}

.bloco label {
    color: #222;
    font-size: 4vw;
    white-space: nowrap;
}

.bloco span {
    color: #fd6828;
    font-size: 8vw;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalhes img {
    width: 10vw;
}

.telaInterna {
    color: white;
    padding: 2vw 1vw;
}

.camposCadastro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    background-color: #d2d2d2;
    padding: 5vw;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #222222ec;
    width: 100%;
}

.toolbar span {
    font-size: 5vw;
    color: white;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn div {
    width: 25px;
    height: 2px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
}

.atualizar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10vw;
}

.painel-1-tarefas {
    display: grid;
    gap: 2vw;
    margin-bottom: 20px;
}


.tabTarefas td {
    padding: 8px;
    border: solid 1px #a7a7a7;
}

.tabTarefas table {
    display: table-row;
    min-width: max-content;
    border-collapse: collapse;
}

.tabTarefas span {
    font-size: 4vw;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    .tabTarefas table {
        width: -webkit-fill-available;
        table-layout: fixed;
        border-collapse: collapse;
        font-size: 1.2vw;
        display: table;
    }

    .tabTarefas span {
        font-size: 1.2vw;
    }

    .bloco label {
        font-size: 1.2vw;
    }

    .bloco span {
        font-size: 2vw;
    }

    .painel-1-tarefas {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 2vw;
    }

    input {
        padding: 0.8vw;
        margin: 0.8vw 0;
    }

    .btnLateral img {
        width: 3vw;
    }

    .loginBloco {
        max-width: 80vw;
        max-height: 80vh;
    }

    .baixoLogin {
        flex-direction: row;
    }

    span {
        font-size: 1.2vw;
    }

    select {
        font-size: 1.2vw;
    }

    .janela {
        min-width: 70vw;
        max-height: 80vh;
    }

    .janela_fora {
        font-size: 2vw;
        max-width: 80vw;
    }

    .botaoPopup label {
        font-size: 3vw;
    }

    .tabela th {
        font-size: 2vw;
    }

    .tabela td {
        font-size: 1vw;
    }

    .btnRodape {
        width: auto;
        right: 3vw;
        bottom: 3vh;
        font-size: 1.8vw;
    }

    .btnExcel {
        gap: 10vw;
        display: flex;
        font-size: 1.8vw;
    }

    .btnPadrao {
        font-size: 2.5vw;
    }

    .pesquisa {
        padding-left: 2vw;
        margin: 2vw;
    }

    .pesquisa img,
    .detalhes img {
        width: 3vw;
    }

    .mensagem img,
    .cadeado {
        width: 7vw;
    }

    .botoesMenu {
        margin-top: 10vw;
    }

    .recorteTabela {
        max-height: 50vh;
        max-width: 90vw;
    }

    .aguarde img,
    .dino {
        width: 10vw;
    }

    .toolbarPopup span {
        font-size: 1.8vw;
    }

    .toolbar span {
        font-size: 1.8vw;
    }

    .tabela th {
        font-size: 1.2vw;
    }

    .camposCadastro {
        padding: 2vw;
    }

    .painelCadastro {
        padding: 5vw;
    }

    .atualizar,
    .epis img,
    .botaoSuperiorLogin img {
        width: 5vw;
    }

    .olho,
    .edicao img,
    .cam {
        width: 3vw;
    }

    .contornoInterno img {
        width: 2vw
    }

    .contornoInterno label {
        font-size: 1.2vw;
    }

    .botoes {
        align-items: center;
        flex-direction: row;
    }

    .painelPin {
        flex-direction: row;
    }

    .camposTd img {
        width: 3vw;
    }

}