:root {
    --bg: #0b0c0f;
    --card: #12151a;
    --muted: #8a8f98;
    --ok: #22c55e;
    --warn: #eab308;
    --err: #ef4444;
    --ring: #1f2937;
}

* {
    box-sizing: border-box
}

.wrap {
    min-width: 90%;
    margin: 24px auto;
    padding: 0 16px
}

.card {
    margin-top: 15vh;
    background: var(--card);
    border: 1px solid var(--ring);
    border-radius: 16px;
    padding: 16px
}

.card span {
    color: white;
    font-size: 5vw;
}

.row {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap
}

.btn {
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: #2563eb;
    color: #fff;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer
}

.btn:disabled {
    opacity: .6;
    cursor: not-allowed
}

.ghost {
    background: #334155
}

.muted {
    color: var(--muted)
}

video,
canvas {
    width: 100%;
    max-height: 360px;
    border-radius: 5px;
    background: #0f1115;
    box-shadow: 0px 0px 10px #222;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.status {
    margin-top: 8px;
    font-weight: 600
}

.status.ok {
    color: var(--ok)
}

.status.warn {
    color: var(--warn)
}

.status.err {
    color: var(--err)
}

.voltar {
    width: 5vw;
}

/* Ajustes para modo horizontal (landscape) */
@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    .card span {
        font-size: 2vw;
    }

    .voltar {
        width: 3vw;
    }
}