.contornoFolha {
    margin: 1vw;
    border: solid 1px #222;
}

.popupPdfZip {
    padding: 2vw;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.sucesso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    color: green;
}

.sucesso img {
    width: 3vw;
}

.folha {
    padding: 1vw;
    background: linear-gradient(to bottom, #5b707f 20%, white 0%);
    width: -webkit-fill-available;
}

.tabCab table {
    color: black;
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #222;
    font-size: 5vw;
}

.tabCab td {
    border: solid 1px #222;
    padding: 3px;
    background-color: white;
}

.tabCab span {
    margin-left: 2vw;
    margin-right: 2vw;
}

.tabCab table td:first-child {
    text-align: right;
    background-color: #5b707f;
    width: 40%;
}

.tabCab table td:first-child span {
    font-weight: bold;
    color: white;
}

.tabCab table td:nth-child(2) {
    width: 80%;
}

.cabecalho {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    background-color: #5b707f;
    display: flex;
    align-items: center;
}

.cabecalho img {
    width: 10%;
}

.cabecalho h1 {
    text-align: center;
    width: 90%;
    color: white;
}

.tabelaPonto {
    width: 90vw;
    overflow: auto;
}

.tabelaPonto table {
    color: black;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #222;
    font-size: 5vw;
}

.tabelaPonto td {
    border: solid 1px #222;
    text-align: center;
    padding: 5px;
}

.tabelaPonto thead {
    background-color: #5b707f;
    color: white;
    font-weight: bold;
}

.tabelaPonto th {
    padding: 5px;
    border: solid 1px #222;
}

.campos {
    border: solid 1px #222;
    background-color: #5b707f;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campos span {
    color: white;
}

.painelFiltros {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
}

.painelFiltros img {
    width: 20vw;
}

.painelFiltros button {
    background-color: #5b707f;
    border-radius: 3px;
    border: solid 1px #222;
}

.positivo {
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px green;
    border-radius: 5px;
    background-color: #ade9ad;
}

.negativo {
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px red;
    border-radius: 5px;
    background-color: #f7c5c5;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    .painelFiltros img {
        width: 5vw;
    }

    .tabCab table,
    .tabelaPonto table {
        font-size: 1.4vw;
    }


}